<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get요청</title>
</head>
<body>
    <h1>get요청 결과</h1>
    <ul>
        <li>이름 : <%= getForm.name %></li>
        <li>나이 : <%= getForm.age %></li>
        <li>성별 : <%= getForm.gender %></li>
        <li>주소 : <%= getForm.address %></li>
        <li>아무거나: <%= getForm.anything %></li>
    </ul>
    
</body>
</html>